
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner">
				<div class="fixed-image dark-translucent-bg section" style="background-image:url('/images/page-contact-banner.jpg');">
					<div class="container">
						<div class="space"></div>
						<h1>欢迎Welcome</h1>
						<div class="separator-2"></div>
						<p class="lead">请认真填写下面的报名表格，以便我们为您提供更优质的会议服务.</p>
					</div>
				</div>
			</div>
			<!-- banner end -->

			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-8">

							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title">报名表</h1>
							<!-- page-title end -->
							<p>报名表中信息从您的注册信息中获取，您可以在此基础上修改完善.</p>
							<div>
								<form id="enrollform" class="form-horizontal" role="form" method="post" action="/meeting_enroll_submit">
									<input type="hidden" name="meetingid" value="{{meeting.meetingid}}">
									<div class="form-group has-feedback">
										<label for="name" class="col-sm-2 control-label">姓名*</label>
										<div class="col-sm-4">
											<input type="text" class="form-control" id="name" name="name" value="{{personinfo.name}}">
											<i class="fa fa-user form-control-feedback"></i>
										</div>
										<label for="name" class="col-sm-2 control-label">身份证*</label>
										<div class="col-sm-4">
											<input type="text" class="form-control" id="cardno" name="cardno" value="{{personinfo.cardno}}">
											<i class="fa fa-newspaper-o form-control-feedback"></i>
										</div>
									</div>
									<div class="form-group has-feedback">
										<label for="name" class="col-sm-2 control-label">昵称*</label>
										<div class="col-sm-4">
											<input type="text" class="form-control" id="nickname" name="nickname" value="{{personinfo.nickname}}">
											<i class="fa fa-hand-o-left form-control-feedback"></i>
										</div>
										<label for="name" class="col-sm-2 control-label">职务</label>
										<div class="col-sm-4">
											<input type="text" class="form-control" id="position" name="position" value="{{personinfo.position}}">
											<i class="fa fa-user-md form-control-feedback"></i>
										</div>
									</div>
									<div class="form-group has-feedback">
										<label for="name" class="col-sm-2 control-label">医院*</label>
										<div class="col-sm-4">
											<input type="text" class="form-control" id="hospital" name="hospital" value="{{personinfo.hospital}}">
											<i class="fa fa-hospital-o form-control-feedback"></i>
										</div>
										<label for="name" class="col-sm-2 control-label">科室*</label>
										<div class="col-sm-4">
											<input type="text" class="form-control" id="sections" name="sections" value="{{personinfo.section}}">
											<i class="fa fa-plus-square form-control-feedback"></i>
										</div>
									</div>
									<div class="form-group has-feedback">
										<label for="name" class="col-sm-2 control-label">邮箱</label>
										<div class="col-sm-4">
											<input type="email" class="form-control" id="email" name="email" value="{{personinfo.email}}">
											<i class="fa fa-envelope form-control-feedback"></i>
										</div>
										<label for="name" class="col-sm-2 control-label">QQ号</label>
										<div class="col-sm-4">
											<input type="text" class="form-control" id="qq" name="qq" value="{{personinfo.qq}}">
											<i class="fa fa-qq form-control-feedback"></i>
										</div>
									</div>
									<div class="form-group has-feedback">
										<label for="name" class="col-sm-2 control-label">微信号</label>
										<div class="col-sm-4">
											<input type="text" class="form-control" id="weixin" name="weixin" value="{{personinfo.weixin}}">
											<i class="fa fa-weixin form-control-feedback"></i>
										</div>
										<label for="name" class="col-sm-2 control-label">微信昵称</label>
										<div class="col-sm-4">
											<input type="text" class="form-control" id="wxnickname" name="wxnickname" value="{{personinfo.wxnickname}}">
											<i class="fa fa-check-circle form-control-feedback"></i>
										</div>
									</div>
									<div class="form-group radio">
										<div class="col-sm-offset-2 col-sm-10">
											是否愿意公开自己的信息
											<label>
												<input type="radio" name="issharemymsg" value="0" checked="">
												否
											</label>
											<label>
												<input type="radio" name="issharemymsg" value="1">
												是
											</label>
										</div>
									</div>

									<input type="submit" value="报名" class="btn btn-default">
								</form>
							</div>
						</div>
						<!-- main end -->

						<!-- sidebar start -->
						<aside class="col-md-4">
							<div class="sidebar">
								<div class="side vertical-divider-left">
									<h3 class="title">{{meeting.title}}</h3>
									<ul class="list">
										<li><strong>会议简介：</strong></li>
										<li>{{meeting.content}}</li>
									</ul>
									<ul class="list">
										<li><strong>会议开始时间：</strong>{{meeting.startdate}}</li>
										<li><strong>会议结束时间：</strong>{{meeting.enddate}}</li>
									</ul>
									<ul class="list">
										<li><strong>会议联系人：</strong>{{meeting.linkman}}</li>
										<li><i class="fa fa-phone pr-10"></i><abbr title="Phone"></abbr>{{meeting.tel}}</li>
										<li><i class="fa fa-mobile pr-10 pl-5"></i><abbr title="Phone"></abbr>{{meeting.mobile}}</li>
										<li><i class="fa fa-envelope pr-10"></i><a href="{{meeting.email}}">{{meeting.email}}</a></li>
									</ul>
								</div>
							</div>
						</aside>
						<!-- sidebar end -->

					</div>
				</div>
			</section>
			<!-- main-container end -->
{{#extend "bottom_scripts"}}

		<!-- JavaScript files placed at the end of the document so the pages load faster
		================================================== -->
		<!-- Jquery and Bootstap core js files -->
		<script type="text/javascript" src="/plugins/jquery.js"></script>
		<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>

		<!-- Modernizr javascript -->
		<script type="text/javascript" src="/plugins/modernizr.js"></script>

		<!-- Appear javascript -->
		<script type="text/javascript" src="/plugins/jquery.appear.js"></script>

		<!-- form validate -->
		<script src="/plugins/jquery.validate.min.js"></script>
		<script src="/plugins/jquery.validate.message_cn.js"></script>
		<script src="/js/cardno.js"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="/js/template.js"></script>

		<script>

		$(document).ready(function(){
			jQuery.validator.addMethod("isIdCardNo", function (value, element){
					return this.optional(element) || isIdCardNo(value);
			 },"请正确输入您的身份证号码");

		 $("#enrollform").validate({
			 rules: {
					 name: {
						required:true,
						maxlength:20
					},
					cardno:{
						required:true,
						isIdCardNo:true
					},
					nickname:{
						required:true,
						maxlength:128
					},
					position:{
						maxlength:128
					},
					hospital:{
						required:true,
						maxlength:256
					},
					sections:{
						required:true,
						maxlength:256
					},
					email:{
						email:true
					},
					qq:{
						number:true,
						maxlength:20
					},
					weixin:{
						maxlength:128
					},
					wxnickname:{
						maxlength:128
					}
				},
				messages:{
					name:{required:"需要输入姓名",maxlength:"姓名最长不超过20个字符"},
					cardno:{required:"请输入身份证号",isIdCardNo:"请输入正确的身份证号"},
					nickname:{required:"需要输入昵称",maxlength:"昵称最长不超过128个字符"},
					position:{maxlength:"职称最长不超过128个字符"},
					hospital:{required:"需要输入医院",maxlength:"医院最长不超过256个字符"},
					sections:{required:"需要输入科室",maxlength:"科室最长不超过256个字符"},
					email:{email:"请输入正确的email"},
					qq:{number:"qq必须为数字",maxlength:"qq最长不超过20个字符"},
					weixin:{maxlength:"微信最长不超过128个字符"},
					wxnickname:{maxlength:"微信昵称最长不超过128个字符"}
				},
				submitHandler: function(form) {
					form.submit();
			 }
		 });
		}); // End document ready

		</script>


{{/extend}}
